{% load news_tags %}
<div class="list-group">
    {% get_list_categories as categories %}
    {% for item  in categories %}
    <a href="{% url "category" item.pk %}" class="list-group-item list-group-item-action "> {{ item.title }}</a>
    {% endfor %}
</div>

<br>
{% show_categories arg2="User" arg1="Hi"%}


World of Tanks —  это массовая многопользовательская онлайн-игра, полностью посвященная бронированным машинам середины XX века.
 Игроки получат возможность плечом к плечу сражаться с поклонниками стальных гигантов со всех уголков планеты, отстаивая свои претензии намировое танковое господство.
 Ваш арсенал внушителен — более 600 стальных машин, которые проектировались, выпускались и состояли на вооружении в Германии, Советском Союзе, США и Франции, Японии и других странах с 10-х по 60-е годы XX века. Вы получите возможность управлять любыми боевыми машинами - отлегендарных танков Второй мировой войны, таких как Т-34, Tiger или Sherman, до экспериментальных моделей и прототипов, таких как немецкий Maus и Е-100, никогда не покидавших стен конструкторских бюро.
 Все модели танков воссозданы по реальным машинам, прототипам и чертежам, и сбалансированы для сражений в игре, что позволяет погрузиться в атмосферу танковых баталий Второй мировой войны.

